{% extends 'project/layaout.html' %}
{% csrf_token %}
{% block body %}
<div class="container">
	<div class="multiple-items">
		{% for type in types %}
		<div style="background-color: {{type.codeColor}}" data-id="{{type.id}}" class="search flex">
			<p>{{type.canonical}}</p>
		</div>
		{% endfor %}
	</div>
	<div class="resultPushFoward">
	{% for tool in tools %}
			{% if tool.pushFowardBoolean == True %}
				<div class="forwarTool col-md-12">
					<p class="title">{{ tool.name }}</p>
					<p class="shorText">{{ tool.shorText }}</p>
					<p class="cannonical">{{ tool.typeOfTool.name }}</p>
				</div>
			{% endif %}
		{% endfor %}
	</div>
	<div class="resutlSearch">
		{% for tool in tools %}
			{% if tool.pushFowardBoolean == False %}
				<div class="tool col-md-4">
					<p class="title">{{ tool.name }}</p>
					<p class="shorText">{{ tool.shorText }}</p>
					<p class="cannonical">{{ tool.typeOfTool.name }}</p>
				</div>
			{% endif %}
		{% endfor %}
	</div>
	<div class="newleter col-md-12">
		<input type="email" name="email" id="emailNexletter" placeholder="Votre email">
		<input type="button" name="send" id="sendEmailNewletter" value="S'inscrire">
		<div class="alert alert-success hide successNewletter"></div>
		<div class="alert alert-danger hide errorNewletter"></div>
	</div>
</div>
{% endblock body %}